### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [60]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_file)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [61]:
# Find unique player count
total_players = purchase_data["SN"].value_counts()
total = total_players.count()
total_df = pd.DataFrame([{"Total Players": total}])
total_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [62]:
# Calculate unique items
unique_items = purchase_data["Item ID"].value_counts()
unique_total = unique_items.count()

# Calculate average price
average_price = purchase_data["Price"].mean()
average_price = round(average_price, 2)

# Calculate number of purchases
number_purchases = purchase_data["Purchase ID"].count()

# Calculate total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

# Create dataframe to store and present table
purchasing_analysis_df = pd.DataFrame([{"Number of Unique Items": unique_total, "Average Price": average_price, 
                                        "Number of Purchases": number_purchases, "Total Revenue": total_revenue}])

# Format $ signs
purchasing_analysis_df['Average Price'] = purchasing_analysis_df['Average Price'].map('${:,.2f}'.format)
purchasing_analysis_df['Total Revenue'] = purchasing_analysis_df['Total Revenue'].map('${:,.2f}'.format)

purchasing_analysis_df = purchasing_analysis_df[["Number of Unique Items", "Average Price", 
                                                "Number of Purchases", "Total Revenue"]]

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [63]:
# Calculate unique male count and male percent
genders = purchase_data[["SN", "Gender"]]
genders_male = genders.loc[genders["Gender"] == "Male", :]
males = genders_male["SN"].value_counts()
male_count = males.count()
male_percent = round((male_count/total)*100,2)

# Calculate unique female count and female percent
genders_female = genders.loc[genders["Gender"] == "Female", :]
females = genders_female["SN"].value_counts()
female_count = females.count()
female_percent = round((female_count/total)*100,2)

# Calculate unique other count and other percent
genders_other = genders.loc[genders["Gender"] == "Other / Non-Disclosed", :]
other = genders_other["SN"].value_counts()
other_count = other.count()
other_percent = round((other_count/total)*100,2)

# Create dataframe to store and present table
info = {'Gender': ["Male", "Female", "Other/Non-Disclosed"], 'Total Count': [male_count, female_count, other_count], 
     'Percentage of Players': [male_percent, female_percent, other_percent]}

gender_demo_df = pd.DataFrame(data=info)

gender_demo_df

                Gender  Total Count  Percentage of Players
0                 Male          484                  84.03
1               Female           81                  14.06
2  Other/Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [64]:
# Female Purchase Count
d = purchase_data["Gender"]
female_list = d[genders["Gender"] == "Female"]
female_purchase_count = female_list.count()

# Male Purchase Count
male_list = d[genders["Gender"] == "Male"]
male_purchase_count = male_list.count()

# Other Purchase Count
other_list = d[genders["Gender"] == "Other / Non-Disclosed"]
other_purchase_count = other_list.count()

# Average Female Purchase Price, total purchase value
gender_prices = purchase_data[["Gender", "Price"]]
female_prices_list = gender_prices.loc[genders["Gender"] == "Female", :]
female_prices = female_prices_list["Price"]
total_female_price = female_prices.sum()
avg_female_price = round(total_female_price/female_purchase_count, 2)

# Average Male Purchase Price, total purchase value
male_prices_list = gender_prices.loc[genders["Gender"] == "Male", :]
male_prices = male_prices_list["Price"]
total_male_price = male_prices.sum()
avg_male_price = round(total_male_price/male_purchase_count, 2)

# Average Other Purchase Price, total purchase value
other_prices_list = gender_prices.loc[genders["Gender"] == "Other / Non-Disclosed", :]
other_prices = other_prices_list["Price"]
total_other_price = other_prices.sum()
avg_other_price = round(total_other_price/other_purchase_count, 2)

# Average Unique Female Total Purchase
avg_unique_female_price = round((total_female_price/female_count), 2)

# Average Unique Male Total Purchase
avg_unique_male_price = round((total_male_price/male_count), 2)

# Average Unique Other Total Purchase
avg_unique_other_price = round((total_other_price/other_count), 2)

# Create dataframe to store and present table
info2 = {'Gender': ["Female", "Male", "Other/Non-Disclosed"], 'Purchase Count': [female_purchase_count, male_purchase_count, other_purchase_count], 
     'Average Purchase Price': [avg_female_price, avg_male_price, avg_other_price], 
         'Total Purchase Value': [total_female_price, total_male_price, total_other_price], 
         'Avg Total Purchase per Person': [avg_unique_female_price, avg_unique_male_price, avg_unique_other_price]}

# Format $ signs
purchasing_gender_df = pd.DataFrame(data=info2)
purchasing_gender_df['Average Purchase Price'] = purchasing_gender_df['Average Purchase Price'].map('${:,.2f}'.format)
purchasing_gender_df['Total Purchase Value'] = purchasing_gender_df['Total Purchase Value'].map('${:,.2f}'.format)
purchasing_gender_df['Avg Total Purchase per Person'] = purchasing_gender_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)

purchasing_gender_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,"$1,967.64",$4.07
2,Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [65]:
# Establish bins for ages
ages_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the bin names
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Bracket"] = pd.cut(purchase_data["Age"], ages_bins, labels=bin_names)

# Count for bin <10, percentage
first_bin_data = purchase_data.loc[purchase_data["Age Bracket"] == "<10", :]
first_bin_display = first_bin_data["SN"]
first_bin = first_bin_display.value_counts()
first_bin_count = first_bin.count()
first_bin_percent = round((first_bin_count/total)*100, 2)

# Count for bin 10-14, percentage
second_bin_data = purchase_data.loc[purchase_data["Age Bracket"] == "10-14", :]
second_bin_display = second_bin_data["SN"]
second_bin = second_bin_display.value_counts()
second_bin_count = second_bin.count()
second_bin_percent = round((second_bin_count/total)*100, 2)

# Count for bin 15-19, percentage
third_bin_data = purchase_data.loc[purchase_data["Age Bracket"] == "15-19", :]
third_bin_display = third_bin_data["SN"]
third_bin = third_bin_display.value_counts()
third_bin_count = third_bin.count()
third_bin_percent = round((third_bin_count/total)*100, 2)

# Count for bin 20-24, percentage
fourth_bin_data = purchase_data.loc[purchase_data["Age Bracket"] == "20-24", :]
fourth_bin_display = fourth_bin_data["SN"]
fourth_bin = fourth_bin_display.value_counts()
fourth_bin_count = fourth_bin.count()
fourth_bin_percent = round((fourth_bin_count/total)*100, 2)

# Count for bin 25-29, percentage
fifth_bin_data = purchase_data.loc[purchase_data["Age Bracket"] == "25-29", :]
fifth_bin_display = fifth_bin_data["SN"]
fifth_bin = fifth_bin_display.value_counts()
fifth_bin_count = fifth_bin.count()
fifth_bin_percent = round((fifth_bin_count/total)*100, 2)

# Count for bin 30-34, percentage
sixth_bin_data = purchase_data.loc[purchase_data["Age Bracket"] == "30-34", :]
sixth_bin_display = sixth_bin_data["SN"]
sixth_bin = sixth_bin_display.value_counts()
sixth_bin_count = sixth_bin.count()
sixth_bin_percent = round((sixth_bin_count/total)*100, 2)

# Count for bin 35-39, percentage
seventh_bin_data = purchase_data.loc[purchase_data["Age Bracket"] == "35-39", :]
seventh_bin_display = seventh_bin_data["SN"]
seventh_bin = seventh_bin_display.value_counts()
seventh_bin_count = seventh_bin.count()
seventh_bin_percent = round((seventh_bin_count/total)*100, 2)

# Count for bin 40+, percentage
eighth_bin_data = purchase_data.loc[purchase_data["Age Bracket"] == "40+", :]
eighth_bin_display = eighth_bin_data["SN"]
eighth_bin = eighth_bin_display.value_counts()
eighth_bin_count = eighth_bin.count()
eighth_bin_percent = round((eighth_bin_count/total)*100, 2)

# Create dataframe to store and present table
info3 = {'Age Bracket': ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"], 
         'Total Count': [first_bin_count, second_bin_count, third_bin_count, fourth_bin_count, fifth_bin_count,
                        sixth_bin_count, seventh_bin_count, eighth_bin_count], 
     'Percentage of Players': [first_bin_percent, second_bin_percent, third_bin_percent, 
                              fourth_bin_percent, fifth_bin_percent, sixth_bin_percent, seventh_bin_percent, 
                               eighth_bin_percent]}

age_demo_df = pd.DataFrame(data=info3)

age_demo_df

  Age Bracket  Total Count  Percentage of Players
0         <10           17                   2.95
1       10-14           22                   3.82
2       15-19          107                  18.58
3       20-24          258                  44.79
4       25-29           77                  13.37
5       30-34           52                   9.03
6       35-39           31                   5.38
7         40+           12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [66]:
# Establish bins for ages
ages_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the bin names
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Bracket"] = pd.cut(purchase_data["Age"], ages_bins, labels=bin_names)

# <10 data
first_bin = purchase_data.loc[purchase_data["Age Bracket"] == "<10", :]
first_bin_purchases = first_bin["SN"].count()
first_bin_total_purchases = first_bin["Price"].sum()
first_bin_avg_purchase = round(first_bin_total_purchases/first_bin_purchases, 2)
first_bin_avgtotalpurchase = round(first_bin_total_purchases/first_bin_count, 2)

# 10-14 data
second_bin = purchase_data.loc[purchase_data["Age Bracket"] == "10-14", :]
second_bin_purchases = second_bin["SN"].count()
second_bin_total_purchases = second_bin["Price"].sum()
second_bin_avg_purchase = round(second_bin_total_purchases/second_bin_purchases, 2)
second_bin_avgtotalpurchase = round(second_bin_total_purchases/second_bin_count, 2)

# 15-19 data
third_bin = purchase_data.loc[purchase_data["Age Bracket"] == "15-19", :]
third_bin_purchases = third_bin["SN"].count()
third_bin_total_purchases = third_bin["Price"].sum()
third_bin_avg_purchase = round(third_bin_total_purchases/third_bin_purchases, 2)
third_bin_avgtotalpurchase = round(third_bin_total_purchases/third_bin_count, 2)

# 20-24 data
fourth_bin = purchase_data.loc[purchase_data["Age Bracket"] == "20-24", :]
fourth_bin_purchases = fourth_bin["SN"].count()
fourth_bin_total_purchases = fourth_bin["Price"].sum()
fourth_bin_avg_purchase = round(fourth_bin_total_purchases/fourth_bin_purchases, 2)
fourth_bin_avgtotalpurchase = round(fourth_bin_total_purchases/fourth_bin_count, 2)

# 25-29 data
fifth_bin = purchase_data.loc[purchase_data["Age Bracket"] == "25-29", :]
fifth_bin_purchases = fifth_bin["SN"].count()
fifth_bin_total_purchases = fifth_bin["Price"].sum()
fifth_bin_avg_purchase = round(fifth_bin_total_purchases/fifth_bin_purchases, 2)
fifth_bin_avgtotalpurchase = round(fifth_bin_total_purchases/fifth_bin_count, 2)

# 30-34 data
sixth_bin = purchase_data.loc[purchase_data["Age Bracket"] == "30-34", :]
sixth_bin_purchases = sixth_bin["SN"].count()
sixth_bin_total_purchases = sixth_bin["Price"].sum()
sixth_bin_avg_purchase = round(sixth_bin_total_purchases/sixth_bin_purchases, 2)
sixth_bin_avgtotalpurchase = round(sixth_bin_total_purchases/sixth_bin_count, 2)

# 35-39 data
seventh_bin = purchase_data.loc[purchase_data["Age Bracket"] == "35-39", :]
seventh_bin_purchases = seventh_bin["SN"].count()
seventh_bin_total_purchases = seventh_bin["Price"].sum()
seventh_bin_avg_purchase = round(seventh_bin_total_purchases/seventh_bin_purchases, 2)
seventh_bin_avgtotalpurchase = round(seventh_bin_total_purchases/seventh_bin_count, 2)

# 40+ data
eighth_bin = purchase_data.loc[purchase_data["Age Bracket"] == "40+", :]
eighth_bin_purchases = eighth_bin["SN"].count()
eighth_bin_total_purchases = eighth_bin["Price"].sum()
eighth_bin_avg_purchase = round(eighth_bin_total_purchases/eighth_bin_purchases, 2)
eighth_bin_avgtotalpurchase = round(eighth_bin_total_purchases/eighth_bin_count, 2)

# Create dataframe to store and present table
info4 = {'Age Bracket': ["10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+", "<10"], 
         'Purchase Count': [second_bin_purchases, third_bin_purchases, fourth_bin_purchases, fifth_bin_purchases, 
                            sixth_bin_purchases, seventh_bin_purchases, eighth_bin_purchases, first_bin_purchases], 
     'Average Purchase Price': [second_bin_avg_purchase, third_bin_avg_purchase, fourth_bin_avg_purchase, 
                              fifth_bin_avg_purchase, sixth_bin_avg_purchase, seventh_bin_avg_purchase, 
                                eighth_bin_avg_purchase, first_bin_avg_purchase],
        'Total Purchase Value': [second_bin_total_purchases, third_bin_total_purchases, fourth_bin_total_purchases, 
                                fifth_bin_total_purchases, sixth_bin_total_purchases, seventh_bin_total_purchases, 
                                eighth_bin_total_purchases, first_bin_total_purchases], 
        'Avg Total Purchase per Person': [second_bin_avgtotalpurchase, third_bin_avgtotalpurchase, fourth_bin_avgtotalpurchase, 
                                         fifth_bin_avgtotalpurchase, sixth_bin_avgtotalpurchase, seventh_bin_avgtotalpurchase, 
                                         eighth_bin_avgtotalpurchase, first_bin_avgtotalpurchase]}

# Format $ signs
purchasing_age_df = pd.DataFrame(data=info4)

purchasing_age_df['Average Purchase Price'] = purchasing_age_df['Average Purchase Price'].map('${:,.2f}'.format)
purchasing_age_df['Total Purchase Value'] = purchasing_age_df['Total Purchase Value'].map('${:,.2f}'.format)
purchasing_age_df['Avg Total Purchase per Person'] = purchasing_age_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)


purchasing_age_df

,Age Bracket,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,10-14,28,$2.96,$82.78,$3.76
1,15-19,136,$3.04,$412.89,$3.86
2,20-24,365,$3.05,"$1,114.06",$4.32
3,25-29,101,$2.90,$293.00,$3.81
4,30-34,73,$2.93,$214.00,$4.12
5,35-39,41,$3.60,$147.67,$4.76
6,40+,13,$2.94,$38.24,$3.19
7,<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [67]:
user_purch_total = purchase_data.groupby(['SN']).sum()['Price'].rename('Total Purchase Value')
purch_count = purchase_data.groupby(['SN']).count()['Price'].rename('Purchase Count')

new_data = pd.DataFrame({'Total Purchase Value': user_purch_total, 'Purchase Count': purch_count})

avg_purch_price = round((user_purch_total/purch_count), 2)

new_data['Average Purchase Price'] = avg_purch_price

new_data = new_data.sort_values(['Total Purchase Value'], ascending=[False])

new_data['Total Purchase Value'] = new_data['Total Purchase Value'].map('${:,.2f}'.format)
new_data['Average Purchase Price'] = new_data['Average Purchase Price'].map('${:,.2f}'.format)

new_data = new_data[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

new_data.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame